Increase security of email submission over 587.

## Is your feature request related to a problem?
Increase security of email submission over `587`.

## Describe the solution you'd like
I was wondering if we should enforce the encryption on port `587` when `TLS_LEVEL=modern`.
@erik-wramner @polarathene, what do you think?

## Who will that feature be useful to?
Some ISP are doing downgrading attacks on `submission:587`, having this enabled by default will mitigate this when user is not using `465` _(quite common)_.

## What are you going to contribute?

_master.cf_ 
```
submission inet n       -       n       -       -       smtpd
  -o smtpd_tls_security_level=encrypt
```

## Additional context

Sources: https://stackoverflow.com/questions/15796530/what-is-the-difference-between-ports-465-and-587/32460763#32460763

[testssl.sh](testssl.sh) is reporting a bad grade:
```
 Rating (experimental) 

 Grade                        T - STARTTLS encryption is opportunistic
                                  (Further details would lead to a false sense of security)
```



According to [the Postfix documentation](http://www.postfix.org/TLS_README.html) that is not a good idea:

> According to RFC 2487 this MUST NOT be applied in case of a publicly-referenced Postfix SMTP server. This option is off by default and should only seldom be used.


RFC 2487 is **obsolete**. According [RFC8314](https://tools.ietf.org/html/rfc8314), cleartext is considered as obsolete.

Considering that, why keeping cleartext on port 587? I agree port `25` should use opportunistic encryption, but I see no reason not to enforce encryption on port 587 seen it's only used by the MUA.

> Basically, what RFC 8314 recommends is that cleartext email exchanges be abandoned and that all three common IETF mail protocols be used only in implicit TLS sessions for consistency when possible. The recommended secure ports, then, are 465, 993, and 995 for SMTPS, IMAP4S, and POP3S, respectively.
> Although RFC 8314 certainly allows the continued use of explicit TLS with port 587 and the STARTTLS command, **doing so opens up the mail user agent (MUA, the mail client) to a downgrade attack where a man-in-the-middle intercepts the STARTTLS request to upgrade to TLS security but denies it, thus forcing the session to remain in cleartext.**
https://stackoverflow.com/questions/15796530/what-is-the-difference-between-ports-465-and-587/32460763#32460763

Please have a look at https://serverfault.com/posts/120242/revisions

> If you use public server, you cannot enforce email encryption on port 25/tcp. Better solution is disable mail delivery on by postfix smtpd daemon port 25/tcp from your clients and enable postfix submission daemon (which is special postfix smtpd daemon used only for receiving mail from your local clients described in RFC 4409 running on port 587/tcp). To do that, set smtpd_tls_security_level=may and remove permit_sasl_authenticated from smtpd_recipient_restrictions. In master.cf uncomment line about submission daemon:

You don't want your MUA submitting messages to your server without using encryption.

587 is a submission port, it's not the equivalent of port 25 for communication between MTAs, so I don't see how it'd be a requirement to allow non-TLS connections on public facing 587.

This image enforces a secure connection on 587 regardless and rejects those that cannot secure such. Bad clients/MUA may still send credentials despite that afaik, but not much that we can do about that iirc, other than advise port 465 when available.

---

Sorry, what are you requesting to change here? It already appears to be present in `master.cf`?:

https://github.com/tomav/docker-mailserver/blob/5859c8b0e3cff2a0cbb1d2e4c81b95c0f264fc03/target/postfix/master.cf#L19

> Sorry, what are you requesting to change here? It already appears to be present in master.cf?:

:O That's true. I should had have check this file first, sorry. :confused: 

>  other than advise port 465 when available.

Totally agree with this. 
Sorry for having opened this issue. I think https://github.com/tomav/docker-mailserver/pull/1503 will help other users about best practices regarding port usage.

> I think #1503 will help other users about best practices regarding port usage.

Wiki is better for it. I've been caught up on other project work currently so haven't had time to contribute to this repo further. Main docs should try to stay to the point. Pointing out that there are some additional best practices regarding security and linking to the wiki for more information is the right way to go. 

The 3 points in the README for the port info do a good job of clearing up typical confusion and pointing out a specific configuration security wise the image provides. Main purpose is "What ports are for what?", and minimize confusion.